@model string[]
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="~/Content/Plugin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/Plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/Plugin/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/Customize/css/custom.min.css" rel="stylesheet">
    <style>
        h1, h2, p {
            color: white;
        }

        .btn_back {
            font-size: 24px;
            border: 1px solid aquamarine;
            padding: 2px 14px;
            border-radius: 20px;
            color: aquamarine;
        }

        .main_message {
            font-size: 24px;
            color: #d35050;
            font-weight: bold;
        }
    </style>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number">Access Denied</h1>
                        <h2>Invalid User Type</h2>
                        <p>
                            Your access is denied because your user type is unauthorized for this view page.
                        </p>
                        <p class="main_message">
                            @Model[0]
                        </p>
                        <div class="mid_center">
                            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn_back">Back to Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/Plugin/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Plugin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/Plugin/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/Plugin/nprogress/nprogress.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/Customize/js/custom.min.js"></script>
</body>
</html>
